<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Online Compiler/Interpreter | Codetable| HackerEarth</title>
	<!-- <link rel="stylesheet" href=""> -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<style type="text/css">
		body{
			font-family: 'Open Sans',sans-serif;
		}
		.page-header {
			background-color: #323754;
			margin-top: 0;
			height: 50px;
			padding: 8px;
		}
		.page-header  img {
			height: 30px;
		}
		.container-fluid{
			margin: 50px;
		}
		.panel-body{
			height: 400px;
		}
		.panel-body textarea{
			height: 98%;
			width: 99%;
			padding: 8px;
			resize: none;
		}
		.output {
			border: 1px dashed #ddd;
			margin: 20px 0;
			padding: 20px;
		}
		.strong{font-weight: 700;}
	</style>
</head>
<body>
	<header id="header" class="page-header">
		<a href="/" class="">
			<img src="https://hackerearth.global.ssl.fastly.net/static/codetable/images/codetable-logo.png"/>
		</a>
	</header><!-- /header -->
	<div class="container-fluid">
		<div class="filename-bar">
			<div id="filename" class="filename strong" title="Click to rename">Untitled File</div>
			<div class="filename-text hidden">

				<div>
					<input type="text" name="newfilename">
					<button type="button" class="btn btn-info btn-sm" id="savefilename">Save</button>
					<button id="cancelfilename" class="btn btn-danger btn-sm">Cancel</button>
				</div>

			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-8">
                <form method="POST" action="/hackerearth/code/#output">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<select name="language">
							<option value="C">C</option>
							<option value="CPP">CPP</option>
							<option value="CPP11">CPP11</option>
							<option value="CLOJURE">CLOJURE</option>
							<option value="CSHARP">CSHARP</option>
							<option value="JAVA">JAVA</option>
							<option value="JAVASCRIPT">JAVASCRIPT</option>
							<option value="HASKELL">HASKELL</option>
							<option value="PERL">PERL</option>
							<option value="PHP">PHP</option>
							<option value="PYTHON">PYTHON</option>
							<option value="RUBY">RUBY</option>
						</select>
						<button class="pull-right btn btn-primary btn-sm" id="saveCode">save</button>
					</div>
					<div class="panel-body">
						<code>
							<textarea name="code" id="editor"></textarea>
						</code>
					</div>
				</div>
				<div class="optional">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="customcheckbox">Use custom input for testing your code
						</label>
					</div>
					<textarea name="custominput" class="form-control hidden"></textarea>
				</div>
				<hr>
				<div class="clearfix">
					<button class="btn btn-success pull-right">Compile and test</button>
				</div>
                </form>
                {% if run_status %}
				<div class="output" id="output">
					<h5><strong>Compilation Log</strong></h5>
					<hr>

					<div class="alert {% if run_status.status != "AC" %}alert-danger {% else %} alert-success {% endif %}">
                        {{ compile_status }}</div>
					<br />
					<h5><strong>Output</strong></h5>
					<hr>
                    {% if run_status and run_status.output_html %}
					    <code>{{ run_status.output_html|safe }}</code>
                    {% else %}
                        <p class="help-block">Standard output is empty </p>
                    {% endif %}
					<br />
					<h5><strong>Input</strong></h5>
					<hr>
					<p class="help-block">Standard output is empty {{ input }}</p>
					<br />
					<table class="table">
						<thead>
							<tr>
								<th>Log ID:</th>
								<th>Time (sec)</th>
								<th>Memory (KB)</th>
								<th>Status</th>
								<th>Status Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>{{ code_id }}</strong></td>
								<td>{{ run_status.time_used }}</td>
								<td>{{ run_status.memory_used }}</td>
								<td>{{ run_status.status }}</td>
								<td>{{ run_status.status_detail }}</td>
							</tr>
						</tbody>
					</table>
					<div class="help-block">{{ current_time }}</div>
				</div>
			{% endif %}
            </div>

			<!-- col-md-8 -->
			<div class="col-md-4">
				<span><strong>Share URL</strong></span>
				<hr>
				<button class="btn btn-warning" id="generateUrl">Generate Public url</button>
                <p class="hidden help-block" id="pubUrl"></p>
			</div>
			<!-- col-md-4 -->
		</div>
		<!-- row -->
		<hr>
	</div>
	<!-- container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script  type="text/javascript">
		$(document).ready(function(){
            // set the code from localstorage on reload
            if(localStorage.getItem('code') && localStorage.getItem('code').length){
                $('#editor').val(localStorage.getItem('code'));
            }

            if(localStorage.getItem('language') && localStorage.getItem('language').length){
                $('select[name="language"]').val(localStorage.getItem('language'));
            }
            // set the file name from localstorage on reload
            if(localStorage.getItem('filename')){
                $('#filename').html(localStorage.getItem('filename'));
            }
            $('#editor').on('keyup',function() {
                /* Act on the event */
                if ($(this).val().length) {
                    localStorage.setItem('code', $(this).val());
                }
            });
            $('#saveCode').click(function(){
                if ($('#editor').val()){
                    localStorage.setItem('code', $('#editor').val())
                }
            });
            

            $('#filename').click(function() {
                /* Act on the event */
                $('.filename-text').removeClass('hidden');
                $(this).hide();

            });
            $('#savefilename').click(function(){
                var filename = $('input[name="newfilename"]').val();
                if (filename.length) {
                    localStorage.setItem('filename', filename);
                    $('#filename').text(filename);
                    $('#filename').show();
                    $('.filename-text').addClass('hidden');
                }

            });
            $('#cancelfilename').click(function(){
                $('#filename').show();
                $('.filename-text').addClass('hidden');

            });
            $('select[name="language"]').change(function(){
               localStorage.setItem('language', $(this).val());
            });
            // for custom input
            $('input[name="customcheckbox"]').click(function(){
                if($(this).prop("checked") == true){
                    $('textarea[name="custominput"]').removeClass('hidden');
                }
                else if($(this).prop("checked") == false){
                    $('textarea[name="custominput"]').addClass('hidden');
                }
            });

            // post request to submit code
            $('#compileBtn').click(function(){
               var code = $('#editor').val();
            });
            $('#generateUrl').click(function(){
                var code = $('#editor').val();
                var language = $('select[name="language"]').val();
                $.ajax({
                    url: "/hackerearth/code/",
                    method: "PUT",
                    data: {"code": code, "language": language}
                }).success(function(response) {
                    console.log(response)
                    $("#pubUrl").html("Link: <a href=" + window.location.origin + window.location.pathname + response.url + ">" + window.location.origin + window.location.pathname + response.url + "</a>")
                    $("#pubUrl").removeClass("hidden");
                });
            })


});
</script>
</body>
</html>